html,body{ 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%; 
	font-family:Arial, Helvetica, sans-serif;
    background-color:rgba(230,92,0,1);
	}
/*
General CSS settings
*/

a{
	color:white;
	text-decoration: none;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: white;
}

h1{
	
}

/*
Class based settings
*/

#head{
	width: 100%;
	height: 85%;
	overflow:hidden;
}

#menu{
	position: fixed;
	margin-top: 0px;
	height: 70px;
	width: 100%;
	background-color:rgba(0,0,0,0.86);
}

#button_spacer{
	height:10%;
}

#button_bar{
	float: right;
	height: 75%;
	color: white;
	margin: 0 auto;
	margin-right: 5%;
}

.buttons{
	text-align:center;
	line-height: 50px;
	border-radius: 10px 10px 10px 10px;
	height: 80%;
	background-color:inherit;
	opacity: 85%;
	padding-left: 7px;
	padding-right: 7px;
}

#top_buffer{
	height: 85%;
}

#content{
    padding-top: 70px;
    height: 100%;
}

#footer{
    height: 50px;
    background-color: rgba(228, 57, 27, 0.75);
    margin-bottom: 0px;
}


.bottom_buttons {

}

#menu_2 {
	height: 100%;
	width: 100%;
}

#button_bar_2 {
    margin-left: 10%;
    margin-right: 10%;
	height: 75%;
    width = 80%;
	color: white;

}

// From the main homepage CSS

#menuwrapper {
    height: 100%;
    width: 100%;
    text-align: justify;
    margin-left: auto;
	margin-right: auto;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.menuitem {
    width: 12%;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    zoom: 1;
}

.stretcher {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    height:12px;
}

#Parallel_Worlds {
    background-color: rgba(206, 31, 172, 0.32);
    background-image:url(/images/parallel_icon.JPG);
    background-size:100%;
	background-repeat:no-repeat;
    border: solid rgb(0, 145, 248);
    opacity: 75%;
}

.leftPane {
    padding-top: 5%;
    float:left;
    width:50%;
    height:85%;
}

.rightPane {
    padding-top: 10%;
    float:right;
    width:50%;
    height:80%;
}

.project {
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
}

#Labs {
    background-color: rgba(206, 31, 172, 0.32);
    background-image:url(/images/photos/BWW%20Sign.JPG);
    background-size:100%;
	background-repeat:no-repeat;
    border: solid rgb(0, 0, 0);
    opacity: 75%;
}

#bottom_menu {
    float:bottom;
    text-align: center;
	width: 100%;
    height: 50px;
	margin-left: auto;
	margin-right: auto;
    background-color: rgba(228, 57, 27, 0.75);
    margin-bottom: 0px;
}

