@charset "utf-8";
/* CSS Document */
#top_bar {
	height:8%;
	
}

#top_menu {
	height:5%;
	border:solid #FFFFFF;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#middle_bar {
	height:68%;
	width:100%;
	margin-top:4%;
}

#bottom_menu {
	height:100%;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#bottom_bar {
	height:2%;
}



#me {
	height:60%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#me_text {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	text-decoration: none;
}

#menuwrapper {
    height: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.menuitem {
    width: auto;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    zoom: 1;
}

.stretcher {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    
}

a {
	color: black;
	text-decoration: none;
}

html{
	height:100%;
    
}

body {
	margin-top:5px;
	margin-bottom:5px;
	height:90%;
	width:99%;
    height:100%;
}
