@charset "utf-8";
/* CSS Document */


html, body {
	height:100%;
	background-image: url('../images/photos/Cordelia1.jpg');
    background-repeat: no-repeat;
    background-size: 100%
}

a {
	text-decoration: none;
}

#message {
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#top_bar {
	height:25%;

	
}

body {
	margin-top:5px;
	margin-bottom:5px;
	height:100%;
	width:99%;
}
