
#article-selector {
    height: 100%;
    width: 25%;
    float: left;
    border: solid black;
}

#article {
    height: 100%;
    width: 65%;
    float: right;
    border: solid black;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
