html,body{ 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%; 
	font-family:Arial, Helvetica, sans-serif;
	}
/*
General CSS settings
*/

a{
	color:white;
	text-decoration: none;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: white;
}

h1{
	
}

/*
Class based settings
*/

#head{
	width: 100%;
	height: 85%;
	overflow:hidden;
}

#menu{
	position: fixed;
	margin-top: 0px;
	height: 70px;
	width: 100%;
	background-color:rgba(0,0,0,0.86);
}

#button_spacer{
	height:10%;
    margin-bottom: 0px;
}

#button_bar{
	float: right;
	height: 75%;
    width = 100%;
	color: white;
	margin: 0 auto;
	margin-right: 5%;
}

.buttons{
	text-align:center;
	line-height: 50px;
	border-radius: 10px 10px 10px 10px;
	height: 80%;
	background-color:inherit;
	opacity: 85%;
	padding-left: 7px;
	padding-right: 7px;
}

#top_buffer{
	height: 85%;
}

#photo_bracket{
	font-size: 6em;
	color:black;
	width: 100%;
	height: 100%;
	background-image:url('../images/head_background.jpg');
	background-size:100%;
	background-repeat:no-repeat;
}

#title_text{
	margin-top: auto;
    margin-bottom: 10%;
    margin-left: 5%;
    text-align: left;
    font-size: 50%;

}

#body_container{
	height: 1000px;
}

#Spacer{
	height: 14%;	
}

#Icon_2{
	width:17%;
	height:23%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	
}

#Base_Line{
	height:0px;
	border: 10px solid black;
}

#about_me_title{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

